*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    border: 1px solid;
}

.container{
    width: 100%;
    height: 100%;
}
.cabecario{
    position: absolute;
    width: 80%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
}
.logo{
    width: 10%;
    height: 9vh;
    top: 0%;
    padding-right: 10%;
}
.est_link{
    min-width: 40%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: -24%;
    margin-left: 10%;
    margin-left: 20%;
}
.est_link a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.est_link a:hover{
    transform: translateY(-7px);
    transition: 0.4s;
}
.est_logo{
    width: 18%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
}
.user{
    width: 40px;
    height: 40px;
}
.shopping{
    width: 40px;
    height: 40px;
}
.itens{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.estrutura_yellow,
.estrutura_orange,
.estrutura_red{
    width: 100%;
    height: 100%;
    padding: 1px;
}
.estrutura_yellow{
    background-color: rgb(173, 173, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.estrutura_orange{
    background-color: rgb(255, 153, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.estrutura_red{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.itens.active{
    display: block;
}
.estrutura_bot{
    position: absolute;
    width: 10%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40%;
    margin-left: 8%;
}
.bot_left,
.bot_right{
    width: 40%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.467);
    cursor: pointer;
}
.bot_left p,
.bot_right p{
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bot_left:hover,
.bot_right:hover{
    background-color: rgba(255, 255, 255, 0.744);
    transform: scale(1.1);
    transition: 0.6s;
}

.estrutura_text{
    position: absolute;
    width: 34%;
    height: 44vh;
    margin-top: 8%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: text 1s linear ;
}
.titulo{
    font-size: 64px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 10vh;
}
.sob{
    font-size: 20px;
    color: white;
}
.text_name{
    margin-left: 35%;
    width: 10%;
    font-size: 300px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.imgs_y{
    margin-left: -4%;
    transform: rotate(-10deg);
    width: 140%;
    height: 110%;
    margin-top: 15%;
    animation: img 1.3s linear ;
}
.imgs_o{
    margin-left: -4%;
    transform: rotate(-10deg);
    width: 250%;
    height: 180%;
    margin-top: -25%;
    animation: img 1.3s linear ;
}
.imgs_r{
    margin-left: -4%;
    transform: rotate(-10deg);
    width: 160%;
    height: 150%;
    margin-top: -20%;
    animation: img 1.3s linear ;
}
.estrutura_tenis{
    margin-left: -5%;
    z-index: 12;
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

@keyframes img {
    0%{
        transform: translateX(300px);
        opacity: 0;
        filter: blur(6px);
    }
}
@keyframes text {
    0%{
        transform: translateY(50px);
        opacity: 0;
        filter: blur(6px);
    }
}
.container_ads{
    position: absolute;
    width: 10%;            
    margin-left: 89%;
    margin-top: 5%;
    height: 100vh;
}